<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0"><display-name>Shallom High School</display-name><listener><listener-class>zw.shallom.listener.AppListener</listener-class></listener><filter><filter-name>auth</filter-name><filter-class>zw.shallom.filter.AuthFilter</filter-class></filter><filter-mapping><filter-name>auth</filter-name><url-pattern>/app/*</url-pattern></filter-mapping><welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list></web-app>
